body {
    margin : 0;
    font-family : sans-serif;
    text-align: center;
}

div {
    margin:auto;
    position : center;
    border: 1px solid;
}

table {
    margin: auto;
    border: 1px solid;
    text-align: center;
    border-collapse: collapse;
    width: 60%;
    margin-bottom: 10px;
}

th {
    border-bottom: 1px solid;
    padding: 10px;
}

tr, td {
    border-bottom: 1px solid;
    padding: 10px;
}

tr:hover {
    background-color: lightgoldenrodyellow;
}

td:hover {
    background-color: lightyellow;
}

tr:nth-child(even) {background-color: #f2f2f2;}

form {
    align-content: center;
    margin-bottom: 5px;
}

